@model Producto

@{
    ViewData["Title"] = "Eliminar producto";
}

<h1>Eliminar producto</h1>

<div class="alert alert-warning">¿Está seguro que desea eliminar este producto?</div>

<div class="row">
    <div class="col-md-4">
        <img src="@Model.ImagenUrl" class="img-fluid rounded" alt="@Model.Nombre" />
    </div>
    <div class="col-md-8">
        <dl class="row">
            <dt class="col-sm-3">Nombre</dt>
            <dd class="col-sm-9">@Model.Nombre</dd>
            <dt class="col-sm-3">Categoría</dt>
            <dd class="col-sm-9">@Model.Categoria?.Nombre</dd>
            <dt class="col-sm-3">Precio</dt>
            <dd class="col-sm-9">@Model.Precio.ToString("C")</dd>
        </dl>
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </form>
    </div>
</div>
